body{
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color: bisque;
    font-size: 20px;
}

p{
    color: blue;
    text-transform: capitalize;
    border-color: blueviolet;
}

.bus{
    color: black;
    font-size: 20px;
    text-decoration: solid;
}

.banjir{
    color: brown;
    font-size: 20px;
    text-decoration: underline;
}

.ytta{
    color: orange;
    font-size: 20px;
    text-decoration: line-through;
}
#huruf-besar{
    text-transform: uppercase;
    border: 2px solid;
    color: azure;
}

.tulisan-miring{
    font-style: italic;
    color: yellowgreen;
}
